<!DOCTYPE html>
<html lang="en">
    <%- include("layouts/header.ejs") -%>
    <body>
        <!-- Navigation-->
        <%- include("layouts/navbar.ejs") -%>
        <!-- Page Header-->
       
        <!-- Main Content-->
        <div class="container px-lg-6 min-300">
            <div class="row gx-6 gx-lg-6 justify-content-center">
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <!-- Post preview-->
                    <div class="post-preview">
                       <h3>No user found</h3>
                       <br>
                       <a href="/g2" class="btn btn-primary"><< Go back to G2 Page</a>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Footer-->
        <%- include("layouts/footer.ejs") -%>
        <%- include("layouts/scripts.ejs") -%>
    </body>
</html>
