<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>
  <body>
    <!-- Navigation-->
    <%- include('layouts/navbar'); -%>
    <!-- Page Header-->
    <header
      class="masthead"
      style="background-image: url('/assets/img/contact-bg.jpg')"
    >
       <!-- Page Header Start -->
    <div class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
      <div class="container text-center">
          <h1 class="display-4 text-white animated slideInDown mb-4">404,Page not found</h1>
          <nav aria-label="breadcrumb animated slideInDown">
              
          </nav>
      </div>
  </div>
  <!-- Page Header End -->

    <!-- Footer-->
    <%- include('layouts/footer'); -%>
    <!-- Scripts-->
    <%- include('layouts/scripts'); -%>
  </body>
</html>
