<!DOCTYPE html>
<html lang="en">
    <%- include("layouts/header.ejs") -%>
    <body>
        <!-- Navigation-->
        <%- include("layouts/navbar.ejs") -%>
        <!-- Page Header-->
         <!-- Page Header Start -->
    <div class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="display-4 text-white animated slideInDown mb-4">Success</h1>
           
        </div>
    </div>
    <!-- Page Header End -->
        <!-- Main Content-->
        <div class="container px-lg-6 min-300">
            <div class="row gx-6 gx-lg-6 justify-content-center">
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <!-- Post preview-->
                    <div class="post-preview">
                       <h3>Your Submission has been Successful</h3>
                       <br>
                       <a href="/g" class="btn btn-primary"><< Go  to G Page</a>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Footer-->
        <%- include("layouts/footer.ejs") -%>
        <%- include("layouts/scripts.ejs") -%>
    </body>
</html>
